<div class="more-info-container" ng-class="isVisibleMoreIfno"> <!--is-visible-->
    <h2 class="event-message">{{event.title}}</h2>
    <h4 class="game-type">Football</h4>
    <section class="other-info">
        <span>{{event.description}}</span>
    </section>
    <section class="event-time-section">
        {{event.startDate}}
        {{event.endDate}}
        <span>19.10.2014 <time>17:00</time></span>
        <span>19.10.2014 <time>19:00</time></span>
    </section>
    <label>Who will come</label>
    <ul class="who-will-come">
        <li><img src="assets/img/user.png" alt=""></li>
        <li><img src="assets/img/user.png" alt=""></li>
        <li><img src="assets/img/user.png" alt=""></li>
        <li><img src="assets/img/user.png" alt=""></li>
    </ul>
</div>