<div class="more-info-container" ng-class="isVisibleMoreIfno"> <!--is-visible-->
    <h2 class="event-message">{{event.title}}</h2>
    <h4 class="game-type">Football</h4>
    <section class="other-info">
        <span>{{event.description}}</span>
    </section>
    <section class="event-time-section">
        <span>{{event.startDate}}</span>
        <span>{{event.endDate}}</span>
    </section>
    <label>Who will come</label>
    <ul class="who-will-come">
        <li ng-repeat="user in whoWillCome">
            <img src="{{user.img}}" alt="{{user.firstname}}">
        </li>
    </ul>
</div>