<div class="cd-user-modal" ng-class="formClass" ng-click="closeForm($event)"> <!-- this is the entire modal form, including the background -->
    <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
        <ul class="cd-switcher">
            <li class="angle-wrap"><span class="angle"></span></li>
            <li>Fill out all the forms for create the event</li>
            <li></li>
        </ul>

        <div id="cd-signup is-selected"> <!-- sign up form -->
            <form class="cd-form">
                <p class="fieldset">
                    <span class="title-name">Title:</span>
                    <input class="full-width has-padding has-border" ng-model="event.title" id="signup-username" type="text" placeholder="">
                </p>

                <p class="fieldset">
                    <span class="title-name">About:</span>
                    <input class="full-width has-padding has-border" ng-model="event.description" id="signup-password" type="text"  placeholder="">
                </p>

                <p class="fieldset">
                    <span class="title-name">Type:</span>
                    <select class="select-menu" ng-model="event.eventTypeId">
                        <option value="0">Place</option>
                        <option value="1">Football</option>
                        <option value="2">Basketball</option>
                        <option value="3">Hackathon</option>
                    </select>
                </p>

                <p class="fieldset">
                    <span class="title-name time-inherit">Start Time:</span>
                    <input name="bday" ng-model="event.startDate">
                </p>

                <p class="fieldset">
                    <span class="title-name time-inherit">End Time:</span>
                    <input name="bday" ng-model="event.endDate">
                </p>

                <p class="fieldset create-btn">
                    <input class="full-width has-padding" ng-click="sendForm()" type="submit" value="Create Event">
                </p>
            </form>
        </div>
        <a class="cd-close-form">Close</a>
    </div>
</div>