<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LogIn</title>
	<link rel="stylesheet" href="css/landing.css">
</head>
<body ng-controller="AuthCtrl">
	<div class="main">
		<div class="overlay">
			<div class="form-container">
				<form class="login-form">
					<h1>PlayGrounds</h1>
					<p>
						<label>EMail</label>
						<input type="email" ng-model="form.login" class="form-input" placeholder="">
					</p>
					<p>
						<label>Password</label>
						<input type="text"  ng-model="form.password" class="form-input" placeholder="">
					</p>
		            <input type="submit" ng-click="login()" class="submit-btn login-input" value="Sign in">
		        </form>
			</div>
		</div>
	</div>
</body>
</html>