@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/style.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
        <script src="@routes.Assets.at("js/libs/angular.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/angular-route.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/angular-resource.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/angular-cookies.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/angular-animate.js")" type="text/javascript"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAcY5BbTdxjzpHjx4-w4cOQsItdYIC1wuE&sensor=false"></script>
        <script src="@routes.Assets.at("js/app/app.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/app/controllers/main.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/app/controllers/map.js")" type="text/javascript"></script>
    </head>
    <body ng-app="playground">
        <header>
            <a id="cd-menu-trigger" href="#0"><span class="cd-menu-icon"></span></a>
        </header>
        <main class="cd-main-content" ng-view="">
        </main>

        <nav id="cd-lateral-nav">
            <ul class="cd-navigation">
                <li class="item-has-children">
                    <a href="#0">Services</a>
                    <ul class="sub-menu">
                        <li><a href="#0">Brand</a></li>
                        <li><a href="#0">Web Apps</a></li>
                        <li><a href="#0">Mobile Apps</a></li>
                    </ul>
                </li>

                <li class="item-has-children">
                    <a href="#0">Products</a>
                    <ul class="sub-menu">
                        <li><a href="#0">Product 1</a></li>
                        <li><a href="#0">Product 2</a></li>
                        <li><a href="#0">Product 3</a></li>
                        <li><a href="#0">Product 4</a></li>
                        <li><a href="#0">Product 5</a></li>
                    </ul>
                </li>

                <li class="item-has-children">
                    <a href="#0">Stockists</a>
                    <ul class="sub-menu">
                        <li><a href="#0">London</a></li>
                        <li><a href="#0">New York</a></li>
                        <li><a href="#0">Milan</a></li>
                        <li><a href="#0">Paris</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="cd-navigation cd-single-item-wrapper">
                <li><a href="#0">Tour</a></li>
                <li><a href="#0">Login</a></li>
                <li><a href="#0">Register</a></li>
                <li><a href="#0">Pricing</a></li>
                <li><a href="#0">Support</a></li>
            </ul>

            <ul class="cd-navigation cd-single-item-wrapper">
                <li><a class="current" href="#0">Journal</a></li>
                <li><a href="#0">FAQ</a></li>
                <li><a href="#0">Terms &amp; Conditions</a></li>
                <li><a href="#0">Careers</a></li>
                <li><a href="#0">Students</a></li>
            </ul>
        </nav>

        <script src="@routes.Assets.at("js/libs/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/main.js")" type="text/javascript"></script>
    </body>
</html>
