@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/style.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/landing.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/ng_fix.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.ico")">
        <script src="@routes.Assets.at("js/libs/angular.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/angular-route.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/angular-resource.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/angular-cookies.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/angular-animate.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/jquery.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAcY5BbTdxjzpHjx4-w4cOQsItdYIC1wuE&sensor=false"></script>
        <script src="@routes.Assets.at("js/app/app.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/app/services/markerConfig.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/app/services/jquery-trash.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/app/controllers/top-menu.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/app/directives/top-menu.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("js/app/directives/google-map.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("js/app/controllers/left-menu.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/app/directives/left-menu.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("js/app/services/mapsConfig.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/app/services/maps.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("js/app/services/marker.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/app/services/new-event-button.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/app/controllers/maps.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("js/app/controllers/new-event.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/app/directives/new-event.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/app/directives/new-event-form.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("js/app/directives/more-info.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/app/controllers/auth.js")" type="text/javascript"></script>
    </head>
    <body ng-app="playground">
        <div ng-view class="super-main-container">
        </div>
    </body>
</html>
